*{
    padding: 0px;
    margin: 0;
}

body{
    background-color: rgba(27,27,27,255);
    color: whitesmoke;
}

.navbar{
    background-color: rgba(27,27,27,255);
    font-size: xx-large;
    height: 62px;
    display: flex;
    align-items: center;
}

.navbar a{
    color: whitesmoke;
    text-decoration: none;
}

.mainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(187, 166, 206);
    height: calc(100vh - 62px);
    border-radius: 300px 50px 300px 50px;
}

.container{
 /*   background-color: rgb(75, 75, 75);  */
 background-color: rgb(138, 121, 140);
    height: 400px;
    width: 700px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 200px 50px 300px 50px;
}

#pxInput{
    background-color: #252424;
    border-radius: 10px 10px 10px 10px;
    color: rgb(0, 229, 255);
    padding: 20px;

}

#remOutput{
    background-color: #252424;
    border-radius: 10px 10px 10px 10px;
    color: rgb(0, 229, 255);
    padding: 20px;
}

p{
    color: rgb(0, 229, 255);
    padding-bottom: 10px;
    font-size: large;
}